div ul li a {
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 0.5em;
    margin-left: 5px;
    text-decoration: none;
    color: #A61B3E;
}

li {
    margin-bottom: 1em;
    margin-left: 1em;
    list-style-position: outside;
    list-style: none;
}

figure {
    background-image: url("../../../assets/icono.jpg");
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}