<h3>Owner</h3>

<table border="1">
    <tr>
        <th>Nombre:</th>
        <th>{{owner.firstName}} {{owner.lastName}}</th>
    </tr>
    <tr>
        <th>Address:</th>
        <td>{{owner.address}}</td>
    </tr>
    <tr>
        <th>City:</th>
        <td>{{owner.city}}</td>
    </tr>
    <tr>
        <th>Telephone:</th>
        <td>{{owner.telephone}}</td>
    </tr>
</table>

<button routerLink="/owners"><-- Back</button>
<button (click)="borrar(owner)">Del Owner</button>
<button routerLink="/form/{{owner.id}}">Edit Owner</button>
<button routerLink="/formPet/{{owner.id}}">Add new Pet</button>

<div>
    <h3>Pets and Visits</h3>
    <app-pets *ngFor="let pet of owner.pets" [pet]="pet" (eliminado)="actualizaBorrar($event)"></app-pets>
</div>