<div class="cuerpo">
    <div id="contenido" style="text-align:center">
        <h5 class="mt-4">ALEJANDRO ALBARREAL GUERRERO</h5>
        <p>
            Bienvenido a todos, espero que os gusten los sucesos paranormales
        </p>
        <div class="fenomeno">
            <h3>Fenomeno Telepatía</h3>
            <img src="../../../assets/icono.jpg" alt="foto">
            <p>La telepatía consiste en la transmisión de contenidos psíquicos, entre individuos, a través de la mente sin el uso de agentes físicos conocidos. Es considerada como una forma de percepción extrasensorial o cognición anómala, además se piensa
                que esta es instantánea.</p>
        </div>
        <div class="fenomeno">
            <h3>Fenomeno Fantasma</h3>
            <img src="../../../assets/icono.jpg" alt="foto">
            <p>Los fantasmas, en el folclore de muchas culturas, son supuestos espíritus o almas errantes de seres muertos (más raramente aún vivos) que se manifiestan entre los vivos de forma perceptible, principalmente en lugares que frecuentaban en vida,
                o en asociación con sus personas cercanas.</p>
        </div>
        <div class="fenomeno">
            <h3>Fenomeno Bruja</h3>
            <img src="../../../assets/icono.jpg" alt="foto">
            <p>Una bruja (en masculino, un brujo) es una persona que practica la brujería. Si bien la imagen típica de un brujo o de una bruja es muy variable en función de cada cultura, en el acervo popular del mundo occidental la representación de una
                bruja se asocia fuertemente hoy en día a la de una mujer con capacidad de volar montada en una escoba, así como con el Aquelarre (lugar de brujas) y con la caza de brujas (búsqueda e identificación de brujos y brujas).</p>
        </div>
        <div class="fenomeno">
            <h3>Fenomeno Reenncarnación</h3>
            <img src="../../../assets/icono.jpg" alt="foto">
            <p>La reencarnación es la creencia consistente en que la esencia individual de las personas (alma o espíritu) empieza una nueva vida en un cuerpo o forma física diferente luego de la muerte biológica.</p>
        </div>
        <div class="fenomeno">
            <h3>Fenomeno Precognición</h3>
            <img src="../../../assets/icono.jpg" alt="foto">
            <p>Precognición (también conocida como "premonición") es la supuesta capacidad de conocer hechos con anterioridad a su acontecimiento e independencia de su situación especial que no pueden ser deducidos a partir de información adquirida en el
                presente mediante los sentidos. Comúnmente la precognición está asociada a capacidades paranormales y entra dentro de la categoría de fenómenos Psi Gamma. Algunos de los que apoyan la existencia de la precognición mantienen que la mayoría
                de las veces la precognición que experimenta el individuo no obedece a su voluntad y ocurre de una forma inesperada y espontánea. A nivel místico se asocia a una habilidad espiritual.</p>
        </div>
    </div>

    <aside>
        <nav>
            <h2>Menú</h2>
            <ul>
                <li>
                    <figure></figure><a href="index.html">Home</a></li>
                <li>
                    <figure></figure><a href="https://www.mundoesotericoparanormal.com/category/noticias/" target="_blank">Noticias</a></li>
                <li>
                    <figure></figure><a href="https://www.cuatro.com/cuarto-milenio/fenomenos-paranormales/3013517/">Videos</a></li>
                <li>
                    <figure></figure><a href="#">Información</a></li>
            </ul>
        </nav>
    </aside>
</div>