<div id="contenido" class="container mt-2">
    <div class="fenomenos" *ngFor="let s of fenomenos">
        <h2>{{s.nombres}}</h2>
        <p>LUGAR: {{s.lugar}}</p>
        <p>FECHA: {{s.fecha}}</p>
        <p>DESCRIPCIÓN: {{s.descripcion}}</p>
    </div>
</div>

<aside>
    <nav>
        <h2>Menú</h2>
        <ul>
            <li>
                <figure></figure><a href="index.html">Home</a></li>
            <li>
                <figure></figure><a href="https://www.sevilla.abc.es" target="_blank">Noticias</a></li>
            <li>
                <figure></figure><a href="https://www.cuatro.com/cuarto-milenio/fenomenos-paranormales/3013517/">Videos</a></li>
            <li>
                <figure></figure><a href="#">Información</a></li>
        </ul>
    </nav>
</aside>