.fenomenos {
    background-color: blue;
    color: black;
    width: 70%;
}

#contenido {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 20%;
    margin-left: 6em;
    border-bottom: 2px #C7BEBE solid;
}

aside nav ul li {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    padding-top: 0em;
    list-style-position: outside;
    list-style: none;
    margin-left: -1em;
}

aside a {
    text-decoration: none;
    color: #A61B3E;
}

aside h2 {
    color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 26pt;
    text-shadow: 2px 2px 4px #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    border-bottom: 3px #C7BEBE solid;
}

aside nav ul li a {
    display: inline-block;
    margin-bottom: 1em;
    top: 0px;
    margin-top: 0.5em;
    margin-left: 5px;
}